body {
    background-color: #1F2937;
    text-align: center;
}

p {
    color: #D5D4D8;
    font-family: Arial, Helvetica, sans-serif;
}

#headerLineOne{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-right: 50px;
}

#headerLineTwo{
    font-family: Arial, Helvetica, sans-serif;
    color: #4ADF86;
}

#generateButton{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    font-family: Arial, Helvetica, sans-serif;

    background: #10B981;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

#passwordsContainer{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}